@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

body {
  background: black;
  font-family: Open Sans;
  font-size: 20em;
  text-transform: uppercase;
  overflow: hidden
}

#listener {
  position: absolute;
  top: 0;
  left: 0;
  background: lime;
  height: 500px;
  width: 500px;
  z-index: 100;
}

#video {
  opacity: 0;
  display: none
}

#background-video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: -2
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#svg-container {
  z-index: -1;
  transform: scale(1.5, 2) translate(-140px, -130px);
}

.mask__shape {
  fill: white;
}

.shape--fill {
  fill: black;
}

.text--transparent {
  fill: transparent;
}

.box-with-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 35vw;
  padding-left: 100%;
  margin: auto;
  overflow: hidden;
  transform: translate(-50%, -50%);
}   

.svg-video {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
}

.svg-inverted-mask {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
}